<%= image_tag @note.image.url(:medium) if @note.image? %>

<p>
  <strong>Description:</strong>
  <%= @note.description %>
</p>
<% if @note.user == current_user %>
	<%= link_to 'Edit', edit_note_path(@note) %> |
<% end %>
<%= link_to 'Back', notes_path %>
