<% if !user_signed_in? %>
<div class="jumbotron center">
     <h1>Welcome to Klipp!</h1>
     <% if user_signed_in? %>
     	#do something
     <% else %>
	     <p>
	       <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
	  		</p>    
	  	<%end %>
</div>
<% end %>